node_red.json
[{"id":"32b9fe1b.488f52","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19f25f4e.14a269","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"d7a95a6a.2b4a08","type":"ui_group","z":"","name":"Reg form","tab":"19f25f4e.14a269","order":1,"disp":true,"width":"6","collapse":false},{"id":"e1d79cd3.6923e8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"559a04a7.6e5614","type":"ui_group","z":"","name":"Login form","tab":"e1d79cd3.6923e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"e404c177.a67f2","type":"ui_tab","z":"","name":"Customer Help","icon":"dashboard","disabled":false,"hidden":false},{"id":"7555c37e.fa815c","type":"ui_group","z":"","name":"Bot","tab":"e404c177.a67f2","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b20f4c3.58a694","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26573aea.11be9e","type":"ui_form","z":"32b9fe1b.488f52","name":"","label":"","group":"d7a95a6a.2b4a08","order":0,"width":0,"height":0,"options":[{"label":"Enter Name ","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":160,"y":140,"wires":[["e667b749.b3ca48","1831a3fa.ce8834"]]},{"id":"e667b749.b3ca48","type":"debug","z":"32b9fe1b.488f52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":140,"wires":[]},{"id":"1831a3fa.ce8834","type":"function","z":"32b9fe1b.488f52","name":"","func":"msg.payload = {\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":260,"wires":[["84bf5d60.53a4c8"]]},{"id":"84bf5d60.53a4c8","type":"cloudant out","z":"32b9fe1b.488f52","name":"cloudant","cloudant":"","database":"sample","service":"node-red-xdnyx-2020--cloudant-1597474054977-90319","payonly":true,"operation":"insert","x":630,"y":260,"wires":[]},{"id":"33e0ccd0.026144","type":"ui_form","z":"32b9fe1b.488f52","name":"","label":"","group":"559a04a7.6e5614","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":400,"wires":[["7c99851b.e53184"]]},{"id":"7c99851b.e53184","type":"function","z":"32b9fe1b.488f52","name":"","func":"global.set('emailid', msg.payload.email);\nglobal.set('password', msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":400,"wires":[["ea70a0dd.c3369"]]},{"id":"ea70a0dd.c3369","type":"function","z":"32b9fe1b.488f52","name":"","func":"var emailid = global.get('emailid');\nmsg.payload = \"emailid:\" + emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":400,"wires":[["3644443b.8fcd0c"]]},{"id":"3644443b.8fcd0c","type":"cloudant in","z":"32b9fe1b.488f52","name":"","cloudant":"","database":"sample","service":"node-red-xdnyx-2020--cloudant-1597474054977-90319","search":"_idx_","design":"user","index":"user","x":710,"y":400,"wires":[["9256598e.1c963"]]},{"id":"9256598e.1c963","type":"function","z":"32b9fe1b.488f52","name":"","func":"if(msg.payload[0].password === global.get('password')) {\n    msg.payload = 'Login Sucessful';\n}\nelse {\n    msg.payload = 'Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":400,"wires":[["22fa1580.23564a"]]},{"id":"22fa1580.23564a","type":"ui_text","z":"32b9fe1b.488f52","group":"559a04a7.6e5614","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":400,"wires":[]},{"id":"d1ff673e.829ad","type":"ui_form","z":"32b9fe1b.488f52","name":"","label":"","group":"7555c37e.fa815c","order":0,"width":0,"height":0,"options":[{"label":"User Input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":540,"wires":[["677b0088.4d3438"]]},{"id":"677b0088.4d3438","type":"function","z":"32b9fe1b.488f52","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":540,"wires":[["ec69102e.3f9e4"]]},{"id":"ec69102e.3f9e4","type":"watson-conversation-v1","z":"32b9fe1b.488f52","name":"","workspaceid":"3389bbfd-673d-48a2-85c7-3965af37e915","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/aff6da0e-cc7f-4531-8061-91cff27dd442","timeout":"","optout-learning":false,"x":610,"y":540,"wires":[["4818cca5.a535fc","2baba522.0a4a0a"]]},{"id":"4818cca5.a535fc","type":"debug","z":"32b9fe1b.488f52","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":540,"wires":[]},{"id":"2baba522.0a4a0a","type":"function","z":"32b9fe1b.488f52","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":660,"wires":[["377d0bfe.44d07c","4231af15.fb80d"]]},{"id":"377d0bfe.44d07c","type":"ui_text","z":"32b9fe1b.488f52","group":"7555c37e.fa815c","order":1,"width":"6","height":"7","name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":660,"wires":[]},{"id":"4231af15.fb80d","type":"ui_audio","z":"32b9fe1b.488f52","name":"","group":"7555c37e.fa815c","voice":"","always":"","x":1050,"y":760,"wires":[]}]